<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3">

        <label class="form-label">

            Product Name

        </label>

        <input class="form-control" formControlName="name">

        @if (form.controls.name.invalid &&
        form.controls.name.touched) {

        <div class="text-danger">

            Product name is required.

        </div>

        }

    </div>

    <div class="mb-3">

        <label class="form-label">

            Category

        </label>

        <select class="form-select" formControlName="categoryId">

            @for (category of categories; track category.id) {

            <option [value]="category.id">

                {{ category.name }}

            </option>

            }

        </select>

    </div>

    <div class="mb-3">

        <label class="form-label">

            Price

        </label>

        <input class="form-control" type="number" formControlName="price">

        @if (form.controls.price.invalid &&
        form.controls.price.touched) {

        <div class="text-danger">

            Product price is required.

        </div>

        }

    </div>

    <div class="mb-3">

        <label class="form-label">

            Stock

        </label>

        <input class="form-control" type="number" formControlName="stock">

        @if (form.controls.stock.invalid &&
        form.controls.stock.touched) {

        <div class="text-danger">

            Product stock is required.

        </div>

        }

    </div>

    <div class="mb-3">

        <label class="form-label">

            Status

        </label>

        <select class="form-select" formControlName="status">

            <option value="Active">
                Active
            </option>

            <option value="Inactive">
                Inactive
            </option>

        </select>

    </div>

    @if (showInactiveReason()) {

    <div class="mb-3">

        <label class="form-label">

            Inactive Reason

        </label>

        <textarea rows="3" class="form-control" formControlName="inactiveReason">
    </textarea>

        @if (
        form.controls.inactiveReason.invalid &&
        form.controls.inactiveReason.touched
        ) {

        <div class="text-danger mt-1">

            Reason is required and must contain at least 5 characters.

        </div>

        }

    </div>

    }

    <div class="mb-3">

        <label class="form-label">

            Product Image

        </label>

        <app-file-upload formControlName="image">
        </app-file-upload>

    </div>

    <div class="d-flex gap-2 justify-content-end">

        <button type="button" class="btn btn-secondary" (click)="cancelForm()">

            Cancel

        </button>

        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">

            Save

        </button>

    </div>

</form>