@if (toastService.toast(); as toast) {

<div class="toast-container" [class.success]="toast.type === 'success'" [class.error]="toast.type === 'error'"
    [class.warning]="toast.type === 'warning'" [class.info]="toast.type === 'info'">

    <div class="toast-content">

        <span>

            {{ toast.message }}

        </span>

        @if (toast.action) {

        <button type="button" class="btn btn-link btn-sm text-white p-0" (click)="onAction(toast.action, $event)">

            {{ toast.action.label }}

        </button>

        }

    </div>

</div>

}