<div class="modal fade show d-block" tabindex="-1" *ngIf="dialog.isOpen()">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">

                    {{ dialog.options()?.title }}

                </h5>

            </div>

            <div class="modal-body">

                {{ dialog.options()?.message }}

            </div>

            <div class="modal-footer">

                <button class="btn btn-secondary" (click)="dialog.cancelAction()">

                    {{ dialog.options()?.cancelText }}

                </button>

                <button class="btn btn-danger" (click)="dialog.confirmAction()">

                    {{ dialog.options()?.confirmText }}

                </button>

            </div>

        </div>

    </div>

</div>

@if (dialog.isOpen()) {

<div class="modal-backdrop fade show"></div>

}