<form [formGroup]="form" (ngSubmit)="submit()">

    @for (field of fields; track field.name) {

    @if (!(field.hidden?.(form.getRawValue()) ?? false)) {

    <div class="mb-3">

        @if (field.type !== 'checkbox') {

        <label class="form-label">

            {{ field.label }}

        </label>

        }

        @switch (field.type) {

        @case ('text') {

        <input class="form-control" type="text" [placeholder]="field.placeholder ?? ''" [formControlName]="field.name">

        }

        @case ('email') {

        <input class="form-control" type="email" [placeholder]="field.placeholder ?? ''" [formControlName]="field.name">

        }

        @case ('password') {

        <input class="form-control" type="password" [placeholder]="field.placeholder ?? ''"
            [formControlName]="field.name">

        }

        @case ('number') {

        <input class="form-control" type="number" [placeholder]="field.placeholder ?? ''"
            [formControlName]="field.name">

        }

        @case ('date') {

        <input class="form-control" type="date" [formControlName]="field.name">

        }

        @case ('textarea') {

        <textarea class="form-control" rows="3" [placeholder]="field.placeholder ?? ''" [formControlName]="field.name">
            </textarea>

        }

        @case ('select') {

        <select class="form-select" [formControlName]="field.name">

            @for (option of field.options ?? []; track option.value) {

            <option [value]="option.value">

                {{ option.label }}

            </option>

            }

        </select>

        }

        @case ('checkbox') {

        <div class="form-check">

            <input class="form-check-input" type="checkbox" [formControlName]="field.name">

            <label class="form-check-label">

                {{ field.label }}

            </label>

        </div>

        }

        }

        @if (form.get(field.name)?.invalid &&
        form.get(field.name)?.touched) {

        <div class="text-danger mt-1">

            @if (form.get(field.name)?.errors?.['required']) {

            {{ field.label }} is required.

            }

            @if (form.get(field.name)?.errors?.['email']) {

            Please enter a valid email.

            }

            @if (form.get(field.name)?.errors?.['min']) {

            Minimum value is
            {{ form.get(field.name)?.errors?.['min'].min }}.

            }

        </div>

        }

    </div>

    }

    }

    <div class="text-end">

        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

            Submit

        </button>

    </div>

</form>